@import '../variables';
@import '../mixins';

.hero {
  padding-top: 40px;
  padding-bottom: 68px;

  &__container {
    display: flex;
  }

  &__right-content {
    width: calc(50% - var(--grid-gutter)/ 2);
  }

  &__title {
    @include section-title;
    margin-bottom: 19px;
    color: var(--color-dark);
    transform: translateY(-6px);
  }

  &__item {
    overflow: hidden;
  }

  &__list {
    display: grid;
    grid-template-rows: 300px 257px;
    gap: var(--grid-gutter);
    margin: 0;
  }

  &__item:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  &__item:nth-child(2) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  &__item:nth-child(3) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  &__img {
    width: 100%;
  }

  .article {
    position: relative;
    width: calc(50% - var(--grid-gutter) / 2);
    height: auto;
    margin-right: var(--grid-gutter);
    background: url('./img/hero1.jpg') center center no-repeat;
    background-size: cover;

    &::before {
      position: absolute;
      content: '';
      top: 16px;
      right: 15px;
      width: 123px;
      height: 31px;
      background-color: var(--color-grey);
    }

    &::after {
      position: absolute;
      content: '#мастеркласс';
      top: 23px;
      right: 31px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: var(--color-white);
    }

    &__content {
      width: 85%;
      position: absolute;
      bottom: 60px;
      left: 59px;
    }

    &__title {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-white);
    }

    &__descr {
      margin: 0;
      margin-bottom: 20px;
      font-family: 'TT Firs Neue';
      font-weight: 700;
      font-size: 36px;
      line-height: 104%;
      color: var(--color-white);
    }

    &__btn {
      padding: 13px 20px;
      border: 3px solid var(--color-main);
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;

      &:hover {
        border-color: var(--color-focus);
        background-color: var(--color-focus);
      }

      &:focus-visible {
        outline: none;
        border-color: var(--color-active);
        background-color: var(--color-main);
      }

      &:active {
        border-color: var(--color-active);
        background-color: var(--color-active);
      }
    }
  }

  @media (max-width: 1300px) {
    &__list {
      grid-template-rows: 1fr auto;
    }
  }

  @media (max-width: 1024.99px) {

    padding-top: 34px;
    padding-bottom: 68px;

    &__title {
      margin-bottom: 25px;
      transform: translateY(0);
    }

    &__list {
      grid-template-rows: 332px 186px;
    }

    .article {
      background: url('./img/hero1024.jpg') top no-repeat;

      &__content {
        width: 87%;
        left: 30px;
        bottom: 30px;
      }

      &__title {
        margin-bottom: 10px;
        transform: translateY(0);
      }

      &__descr {
        font-size: 34px;
        line-height: 100%;
      }

      &::before {
        top: 15px;
      }

      &::after {
        top: 23px;
      }
    }
  }

  @media (max-width: 950.99px) {
    & {
      padding-top: 77px;
      padding-bottom: 68px;
    }

    &__title {
      font-size: 22px;
      margin-bottom: 16px;
    }

    &__list {
      grid-template-rows: 1fr auto;
    }

    .article {
      background: url('./img/hero768.jpg') top no-repeat;
      background-size: cover;

      &__title {
        margin-bottom: 15px;
      }

      &__descr {
        margin-bottom: 23px;
        line-height: 90%;
      }
    }
  }

  @media (max-width: 768.99px) {
    &__item:nth-child(1) {
      max-height: 228px;
    }

    &__item:nth-child(2),
    &__item:nth-child(3) {
      max-height: 133px;
    }
  }

  @media (max-width: 580.99px) {
    &__container {
      flex-direction: column;
    }

    .article {
      width: 100%;
      min-height: 422px;
      margin-right: 0;
      margin-bottom: 34px;
    }

    &__right-content {
      width: 100%;
    }

    &__item:nth-child(1),
    &__item:nth-child(2),
    &__item:nth-child(3) {
      max-height: 100%;
    }
  }

  @media (max-width: 320.99px) {
    & {
      padding-top: 74px;
      padding-bottom: 51px;
    }

    &__list {
      grid-template-rows: 186px 105px;
    }

    .article {
      background: url('./img/hero320.jpg') center center no-repeat;

      &::before {
        top: 6px;
        right: 5px;
        width: 95px;
        height: 22px;
      }

      &::after {
        top: 9px;
        right: 13px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
      }

      &__content {
        width: 84%;
        bottom: 30px;
      }

      &__title {
        margin-bottom: 9px;
        font-size: 14px;
        line-height: 16px;
      }

      &__descr {
        margin-bottom: 14px;
        font-size: 24px;
        line-height: 110%;
      }

      &__btn {
        padding: 9px 19px;
        font-size: 14px;
        line-height: 16px;
      }
    }

    &__title {
      font-size: 18px;
      line-height: 104%;
    }
  }
}
