:root {
  --font-Roboto: 'Roboto';
  --font-TTfirs: 'TT Firs Neue';
  --color-main: #ff6E30;
  --color-active: #ce4307;
  --color-focus: #bc572b;
  --color-dark: #202020;
  --color-grey: #333333;
  --color-white: #ffffff;
  --color-light: #CACACA;
  --color-error: #F06666;
  --grid-gutter: 30px;
  --offset-1024: 31px;
  --offset-768: 27px;
  --offset-mob: 21px;
}

